.contacts-list__btn {
	font-size: 12px;
	padding: 8px 25px;
}

.contacts-list__feedback--none {
	display: none;
}

@media (min-width: $desktop-width) {
	.contacts-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 320px;
	}

	.contacts-list__number {
		font-family: FuturaDemiC;
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 2px;
		border-bottom: 1px solid #E3B873;
		text-align: right;
		text-decoration: none;
		color: #E3B873;
	}

	.contacts-list__btn {
		font-size: 14px;
		padding: 13px 30px;
	}

	.contacts-list__feedback--none {
		display: inline-block;
	}
}