.modal {
  width: 375px;
  position: relative;
  top: 0;
  display: none;
}

.modal-show {
  position: fixed;
  display: block;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  outline: none;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: inherit;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 3px;
  width: 12px;
  height: 2px;
  background-color: #ffffff;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

@media (min-width: $desktop-width) {
  .modal {
    width: 506px;
    left: 50%;
    top: 20%;
  }
}