.page-header {
	width: 375px;
}

.page-header__logo {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;

	color: #E3B873;
}

@media (min-width: $desktop-width) {
	.page-header {
		width: 1438px;
	}

	.page-header__logo {
		font-family: FuturaDemiC;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		color: #E3B873;
	}
}