.site-list {
	display: none;
}

.site-list__link {
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	text-decoration: none;
}

@media (min-width: $desktop-width) {
	.site-list {
		display: flex;
		justify-content: space-between;
		width: 550px;
	}
}